/*
 * Add your CSS styles here
 *
 */

.text-center {
    text-align: center;
 }


.container {
  background-image: linear-gradient(
    to right bottom,
    rgba(205, 113, 76, 0.6),
    rgba(228, 184, 89, 0.6)),
  url(https://i.imgur.com/tdOqXdH.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


body {
  font-family: Helvetica, Arial, sans-serif;
  /*background: #F8F8EE;*/
}

h1, h2, h3 {
  color: #F8F8EE;
}

p {
  line-height: 24px;
  color: rgb(234, 227, 227);
}

a {
  color: rgb(244, 188, 188);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(232, 232, 185);
}

ul {
  list-style-type: none;
}

.content {
  width: 940px;
  margin: 0 auto;

}

#flex {
  display: flex;
}

#header  {
  border-bottom: 1px solid #999;
  display: flex;
  flex-direction: column;
}

#nav {
  margin: 0 20px 0 0;
  /* CHALLENGE 3: how could you get this to float to the left side of the screen? */
}

#main {
  margin: 0;
  /*  CHALLENGE 3: how could you get this to float to the left side of the screen? */
  /* CHALLENGE 2: how could you give this element a one-pixel border down its left side? */
}

#copyright {
  margin-top: 30px;
  margin-bottom: 0px;
}


/* Ignore this for now, it is special code needed to fix the layout after using the "float" rules */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
