@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap");

:root {
  --red: #70172a;
  /* --purple: #8b61d5; */
  --purple: #6366F1;
  /* --pink: #93778d; */
  --pink: #bf61ff;
  --lblue: #a9c9ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", Arial;
}

/* rendered on animation.js file */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    /* start the animation with the SVG above the container */
  }
  to {
    transform: translateY(0);
    /* end the animation with the SVG in the container */
  }
}

@keyframes moveLeft {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3000vw);
  }
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-90px);
  }
}

@keyframes move-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

body {
  font-family: "Rubik", Arial;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;

  /* background-color: #ffffff; */
  /* color: #020308; */
  background-color: #050816;
  color: #fff;
  margin: 0;
}

/* --header-- */
header {
  position: -webkit-sticky;
  /* position: sticky; */
  top: 0px;
  z-index: 99999;
  display: flex;
  align-items: center;

  height: 50px;
  width: 100%;
  padding: 10px;
  transition: background-color 4s;
}

header.scrolled {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

header img {
  /* width: 100%; */
  height: 100%;
  margin: 0px auto;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

header img:hover {
  background-color: var(--purple);
  border-radius: 100%;
  box-shadow: var(--purple) 0px -1px 8px 5px;
  transition: box-shadow 0.2s;
}

/* --header end-- */

section {
  /* max-width: 100vw; */
  align-items: center;
}

.projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  /* margin: 10px 20px 20px 20px; */
  /* width: 90vw; */
  /* background-color: ; */
}

.projects a {
  text-decoration: none;
  margin-right: 10px;
  /* color: var(--purple); */
  color: #FFF;
}

.projects a:hover {
  /* border-color: red; */
  color: var(--purple);
  border-bottom: 0.1rem solid;
}

.projects .project:hover {
  background-color: #a9c9ff;
  background-image: linear-gradient(170deg, var(--purple) 0%, var(--lblue) 90%);
  border-radius: 3px;
  box-shadow: none;
}

.projects h1 {
  font-size: 50px;
  font-weight: 700;
}

.projects h3 {
  text-decoration: none;
  font-weight: 200;
  font-size: 8px;
  position: absolute;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 0px 2px;
  color: var(--purple);
}

.projects li {
  display: inline;
}

.projects .show-filters {
  margin-right: 15px;
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
}

.projects .filters-list a.selected {
  border-bottom: 3px solid var(--purple);
}

.projects .w-100 {
  margin: 20px auto;
}

.projects .w-200 {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
}

.projects .w-25 {
  flex: 0 1 236px;
  border: var(--purple) solid;
  padding: 10px;
  padding-left: 20px;
  border-radius: 3px;
}

.projects .project a:hover {
  color: var(--purple);
}

.projects .bg-purple {
  background: #444ae5;
  background: linear-gradient(305deg, #5257dd 20%, #bf61ff 70%);
  background: -webkit-linear-gradient(305deg, #444ae5 20%, #bf61ff 70%);
  border-radius: 10px;
  box-shadow: none;
}

/* --contact-- */
.contact .copyright {
  margin-bottom: 10px;
}

.contact .copyright p {
  text-align: center;
  font-size: 12px;
  padding: 10px 10px 0px 10px;
}

/* --contact end-- */

/* Media Query */
@media (max-width: 735px) {
  .projects .w-100 {
    /* width: 100%; */
    margin: 10px auto;
  }

  .projects .w-200 {
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
  }

  .projects .w-25 {
    /* width: 100%; */
    flex: 1 1 100%;
    padding: 10px;
    padding-left: 10px;
  }
}
